/*--------------------
Footer Styles 
----------------------*/

.footer-wrapper {
  position: relative;
}

/* Footer Style Two  */
.footer-style-2 {
  p {
    color: $theme-color;
    font-size: 16px;
    opacity: 0.75;
  }
}

.copyright-text {
  position: absolute;
  bottom: -114px;

  @media #{$sm-layout} {
    position: static;
    bottom: 0;
    padding-top: 20px;
  }

  @media #{$md-layout} {
    position: static;
    bottom: 0;
    padding-top: 20px;
  }
  p {
    color: #c6c9d8;
    font-size: 14px;
    opacity: 0.75;
  }
}
